<h3>Quantifying Permissiveness of a Single Policy</h3>
<hr/>
<ol>
    <li>Input Policy 1</li>
    <div class="alert alert-info" role="alert">
        Example:
        <pre>{<br/>    "Version": "2012-10-17",<br/>    "Statement": [<br/>      {<br/>        "Effect": "Allow",<br/>        "Action": "*",<br/>        "Resource": "*"<br/>      }<br/>    ]<br/>}</pre>
        Please refer to <a href="https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies.html">policies and permissions in IAM</a> for more information.
    </div>
    <li>Specify a bound (the maximum string length/integer bitwidth for model counting)</li>
    <li><strong>(optional)</strong> Enable resource type constraints</li>
    <div class="alert alert-info" role="alert">
        Resource type constraints may
        <ul>
            <li>improve the precision of the model counts</li>
            <li>increase the runtime (and may cause timeouts!)</li>
        </ul>
    </div>
    <li><strong>(optional)</strong> Enable action encoding</li>
    <div class="alert alert-info" role="alert">
        Action encoding may reduce the runtime
    </div>
</ol>
<h3>Quantifying Relative Permissiveness of Multiple Policies</h3>
<hr/>
<ol>
    <li>Input Policy 1 and Policy 2</li>
    <li>Specify a bound (the maximum string length/integer bitwidth for model counting)</li>
    <li><strong>(optional)</strong> Enable resource type constraints</li>
    <li><strong>(optional)</strong> Enable action encoding</li>
</ol>